@import './variables.scss';


/*Estrutura*/
.chat-onmaps {
  margin: auto;
  max-width: 380px;
  min-width: 380px;
  height: 540px;
  background-color: $neutral-50;
  box-shadow: $large-shadow;
  border-radius: $radius;
  position: relative;
  border-radius: 8px !important;
  display: flex;
  flex-direction: column;

  .chat-header {
    display: flex;
    align-items: center;
    background: $neutral-50;
    position: relative;
    background-color: $neutral-50;
    padding: $padding;
    border-radius: 8px !important;

    .chat-chevron {
      margin-left: auto;
      font-size: 1.3rem;
      color: $neutral-600;
      cursor: pointer;
      display: flex;
      align-items: center;
    }
  }

  .chat-footer {
    display: flex;
    align-items: center;
  }
}



// Ãcone de @ ao lado do input
.chat-input-placeholder {
  position: absolute;
  left: 10px;
  max-width: 306px;
  top: 10px;
  height: 32px;
  color: $neutral-500;
  opacity: 0.7;
  font-size: 13px;
  pointer-events: none;
  user-select: none;
  white-space: pre-line;
}


/*Visual das mensagens*/
.message-log {
  flex: 1;
  padding: 20px 0;
  overflow-y: auto;
  display: flex;
  padding: $padding;
  flex-direction: column;

  > :first-child {
    margin-top: auto;
  }

  .user-message {
    justify-content: flex-end;
    color: $neutral-600;
    align-self: flex-end;
    background: $neutral-100;
    border-radius: 8px;
    padding: 8px 14px;
    margin-bottom: 12px;
    width: auto;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;

    p {
      margin: 0;
      width: 100%;

    }
  }

  .ai-message {
    background-color: $neutral-50;
    width: 100%;
    max-width: unset;
    display: flex;
    box-sizing: border-box;
    padding: 0;
    color: $neutral-500;
    align-self: flex-start;
    display: flex;
    align-items: center;
    margin-bottom: 12px;

    .chat-ai-icon {
      margin-right: 8px;
      margin-bottom: auto;
    }

    .ai-message-markdown {
      margin-top: 0;
      width: 100%;

      p {
        margin: 0;
        width: 100%;

      }
    }

    .ai-typing-dots {
      display: inline-block;
      margin-left: 4px;
      animation: blink 1.2s infinite steps(1, end);
    }

    @keyframes blink {

      0%,
      100% {
        opacity: 1;
      }

      50% {
        opacity: 0.3;
      }
    }
  }

}