$bg: #F3F4F6;
$primary: #7A52E1;
$secondary: #ede9fe;
$border: #e3eafe;
$text-dark: #222;
$text-light: #4f46e5;
$radius: 8px;
$padding: 16px; 
$large-shadow: 0px 0px  6px rgba(0, 0, 0, 0.2);
$white: #fff;

$neutral-100: #F3F4F6;
$neutral-200: #E2E8F0;
$neutral-600: #2B303B;
$neutral-500: #6C7993;